<div class="color-picker-wrapper">
  <%# default color %>
  <a
      class='color-picker-item'
      style="background-color: #<%= selected %>"
      data-color="<%= selected %>"
      data-action="color-picker#click">
      <i class="mdi mdi-check"></i>
  </a>

  <%# random colors %>
  <% colors.each do |color| %>
    <a
        class='color-picker-item'
        style="background-color: #<%= color %>"
        data-color="<%= color %>"
        data-action="color-picker#click">
    </a>
  <% end %>
</div>
