<div class="col-xxl-6 col-md-12" data-controller="cashflow-filter" data-chart-id="cashflowLineChart">
  <div class="card">
    <%= render 'dashboards/reports/filter', controller: 'cashflow-filter', filter: 'cashflow_data' %>

    <div class="card-body">
      <h5 class="card-title" data-cashflow-filter-target="chart">Cash Flow</h5>
      <%= line_chart cashflow_line_chart_series, id: 'cashflowLineChart' %>
    </div>
  </div>
</div>

<div class="col-xxl-6 col-md-12" data-controller="cashflow-filter" data-chart-id="cashflowColumnChart">
  <div class="card">
    <%= render 'dashboards/reports/filter', filter: 'cashflow_data', controller: 'cashflow-filter' %>

    <div class="card-body">
      <h5 class="card-title" data-cashflow-filter-target="chart">Cash Flow</h5>
      <%= column_chart cashflow_line_chart_series, id: 'cashflowColumnChart' %>
    </div>
  </div>
</div>

