<div class="card">
  <div class="card-body">
    <h5 class="card-title">Recent Activity</h5>

    <div class="activity">

      <% @audits.each do |audit| %>
        <div class="activity-item d-flex">
          <div class="activite-label"><%= time_ago_in_words(audit.created_at) %></div>
          <i class="bi bi-circle-fill activity-badge text-success align-self-start"></i>
          <div class="activity-content">
            <%= link_to_if audit.auditable.present?, format_audit_log(audit), audit.auditable %>
          </div>
        </div>
      <% end %>

    </div>

  </div>
</div>

