<div class="pagetitle">
  <nav>
    <ol class="breadcrumb">
      <li class="breadcrumb-item">
        <%= link_to 'Home', root_path, class: 'breakcrumb-item' %>
      </li>
      <li class="breadcrumb-item">
        <%= link_to 'Categories', categories_path, class: 'breakcrumb-item' %>
      </li>
      <li class="breadcrumb-item active">Editing: <%= @category.name %></li>
    </ol>
  </nav>
</div><!-- End Page Title -->

<%= render "form", category: @category %>

