<div class="pagetitle">
  <nav>
    <ol class="breadcrumb">
      <li class="breadcrumb-item">
        <%= link_to 'Home', root_path, class: 'breakcrumb-item' %>
      </li>
      <li class="breadcrumb-item">
        <%= link_to 'Transactions', transactions_path, class: 'breakcrumb-item' %>
      </li>
      <li class="breadcrumb-item active">
        Editing: <%= truncate @transaction.notes %>
      </li>
    </ol>
  </nav>
</div>

<%= render "form", transaction: @transaction %>
